{% extends 'base.html' %}
{% block title%} Contacto {% endblock %}

{% block template_conf_content %}

{%endblock%}
{% block active_contact %}active{% endblock %}
{% block body%}
        <div class="row">
            <div class="col-xs-12 col-md-5 col-md-offset-3 bg-info">
                <h3>Llena el formulario y nos pondremos en contacto con tigo.</h3>
                <form action="" class=" form-horizontal" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                    <div class=" form-group">
                        <div class="col-xs-12 col-md-2">
                            {{field.label_tag}}
                        </div>

                            {{field}}

                    </div>
                    {% endfor %}
                    <div class="form-group">
                        <div class="col-md-offset-5">
                            <button type="submit" class="btn btn-success">
                                Enviar
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
{% endblock %}
